@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 270px;
  background-color: #11101d;
  z-index: 100;
  transition: all 0.5s ease;
}

.sidebar.close {
  width: 80px;
}

.sidebar .logo {
  height: 76px;
  display: flex;
  width: 100%;
  align-items: center;
}

.sidebar .logo i {
  font-size: 30px;
  color: #fff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}

.sidebar .logo .logo-name {
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
}

.sidebar.close .logo .logo-name {
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-list {
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}

.sidebar.close .nav-list {
  overflow: visible;
}

.sidebar .nav-list::-webkit-scrollbar {
  display: none;
}

.sidebar .nav-list li {
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}

.sidebar .nav-list li:hover {
  background-color: #1d1b31;
}

.sidebar .nav-list li .icon-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar.close .nav-list li .icon-link {
  display: block;
}

.sidebar .nav-list li i {
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar.close .nav-list li i.arrow {
  display: none;
}

.sidebar .nav-list li.show i.arrow {
  transform: rotate(-180deg);
}

.sidebar .nav-list li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sidebar .nav-list li a .link-name {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  transition: all 0.4s ease;
}

.sidebar.close .nav-list li a .link-name {
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-list li .sub-menu {
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #1d1b31;
  display: none;
  transition: all 0.3s ease;
}

.sidebar .nav-list li.show .sub-menu {
  display: block;
}

.sidebar.close .nav-list li .sub-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}

.sidebar.close .nav-list li:hover .sub-menu {
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}

.sidebar .nav-list li .sub-menu a {
  color: #fff;
  font-size: 14px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}

.sidebar .nav-list li .sub-menu a:hover {
  opacity: 1;
}

.sidebar .nav-list li .sub-menu .link-name {
  display: none;
}

.sidebar.close .nav-list li .sub-menu .link-name {
  font-size: 18px;
  opacity: 1;
  display: block;
}

.sidebar .nav-list li .sub-menu.blank {
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-list li:hover .sub-menu.blank {
  top: 50%;
  transform: translateY(-50%);
}

.profile-details {
  position: absolute;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #11101d;
  padding: 12px 0;
  transition: all 0.5s ease;
}

.sidebar.close .profile-details {
  background-color: none;
  width: 78px;
}

.profile-details .profile-content {
  display: flex;
  align-items: center;
}

.profile-details .profile-content img {
  height: 51px;
  width: 51px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 14px 0 12px;
  background-color: #11101d;
  transition: all 0.5s ease;
}

.sidebar.close .profile-details .profile-content img {
  padding: 10px;
}

.profile-details .name-job .name,
.profile-details .name-job .job {
    position: relative;
    top: 0px;
    left: -30px;
    color: #fff;
    font-size: 18px;
    white-space: nowrap;
}

.sidebar.close .profile-details i,
.sidebar.close .profile-details .name-job .name,
.sidebar.close .profile-details .name-job .job {
  opacity: 0;
  pointer-events: none;
}

.profile-details .name-job .job {
  font-size: 12px;
}


.home-section {
  position: relative;
  height: 150vh;
  width: calc(100% - 260px);
  left: 270px;
  background-color: #e4e9f7;
  transition: all 0.5s ease;
}

.sidebar.close ~ .home-section {
  left: 80px;
  width: calc(100% - 78px);
}

.home-section .home-content {
  display: flex;
  height: 75px;
  align-items: center;
}

.home-section .home-content i,
.home-section .home-content .text {
  color: #11101d;
  font-size: 25px;
}

.home-section .home-content i {
  margin: 0 15px;
  cursor: pointer;
}

.home-section .home-content .text {
  white-space: nowrap;
  font-size: 25px;
  font-weight: 600;
}

@media (max-width: 400px) {
  .sidebar.close .nav-list li .sub-menu {
    display: none;
  }

  .sidebar {
    width: 78px;
  }

  .sidebar.close {
    width: 0;
  }

  .home-section {
    left: 78px;
    width: calc(100% - 78px);
    z-index: 100;
  }

  .sidebar.close ~ .home-section {
    width: 100%;
    left: 0;
  }
}

.card1 {
    position: absolute;
    top: 130px;
    left: 165px;
    width: 250px;
    height: 180px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFFAFA;
    box-shadow: 3px 4px 14.9px 0px rgba(0, 0, 0, 0.25);
}

.card1 p {
    position: absolute;
    top: 20px;
    left: 10px;
    color: #5B5B5B;
    font-family: SF Pro Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.6px;
}

.card1 h2 {
    position: absolute;
    top: 130px;
    left: 10px;
    color: #303030;
    font-family: SF Pro Display;
    font-size: 25px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.96px;
}

.card1 img {
    position: absolute;
    top: -75px;
    left: 29px;
    width: 200px;
    height: 200px;
    flex-shrink: 0;
}

.card2 {
    position: absolute;
    top: 130px;
    left: 450px;
    width: 250px;
    height: 180px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFFAFA;
    box-shadow: 3px 4px 14.9px 0px rgba(0, 0, 0, 0.25);
}

.card2 p {
    position: absolute;
    top: 20px;
    left: 10px;
    color: #5B5B5B;
    font-family: SF Pro Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.6px;
}

.card2 h2 {
    position: absolute;
    top: 130px;
    left: 20px;
    color: #303030;
    font-family: SF Pro Display;
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.96px;
}

.card2 img {
    position: absolute;
    top: -75px;
    left: 34px;
    width: 170px;
    height: 200px;
    flex-shrink: 0;
}

.card3 {
    position: absolute;
    top: 130px;
    left: 740px;
    width: 250px;
    height: 180px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFFAFA;
    box-shadow: 3px 4px 14.9px 0px rgba(0, 0, 0, 0.25);
}

.card3 p {
    position: absolute;
    top: 20px;
    left: 10px;
    color: #5B5B5B;
    font-family: SF Pro Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.6px;
}

.card3 h2 {
    position: absolute;
    top: 130px;
    left: 30px;
    color: #303030;
    font-family: SF Pro Display;
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.96px;
}

.card3 img {
    position: absolute;
    top: -75px;
    left: 23px;
    width: 200px;
    height: 200px;
    flex-shrink: 0;
}


.card4 {
    position: absolute;
    top: 130px;
    left: 1030px;
    width: 250px;
    margin-right: 10px;
    height: 180px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFFAFA;
    box-shadow: 3px 4px 14.9px 0px rgba(0, 0, 0, 0.25);
}

.card4 h2 {
    position: absolute;
    top: 100px;
    left: -10px;
    color: #303030;
    font-family: SF Pro Display;
    font-size: 26px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.96px;
    text-align: center
}

.card4 p {
    position: absolute;
    top: 20px;
    left: 10px;
    color: #5B5B5B;
    font-family: SF Pro Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.6px;
}

.card4 img {
    position: absolute;
    top: -87px;
    left: 31px;
    width: 180px;
    height: 180px;
    flex-shrink: 0;
}

.card5 {
    position: absolute;
    top: 400px;
    left: 165px;
    width: 250px;
    height: 180px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFFAFA;
    box-shadow: 3px 4px 14.9px 0px rgba(0, 0, 0, 0.25);
}

.card5 p {
    position: absolute;
    top: 90px;
    left: 10px;
    color: #5B5B5B;
    font-family: SF Pro Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.6px;
}

.card5 h2 {
    position: absolute;
    top: 130px;
    left: 39px;
    color: #303030;
    font-family: SF Pro Display;
    font-size: 25px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.96px;
}

.card5 img {
    position: absolute;
    top: -75px;
    left: 24px;
    width: 200px;
    height: 200px;
    flex-shrink: 0;
}

.card6 {
    position: absolute;
    top: 400px;
    left: 450px;
    width: 250px;
    height: 180px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFFAFA;
    box-shadow: 3px 4px 14.9px 0px rgba(0, 0, 0, 0.25);
}

.card6 p {
    position: absolute;
    top: 20px;
    left: 10px;
    color: #5B5B5B;
    font-family: SF Pro Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.6px;
}

.card6 h2 {
    position: absolute;
    top: 130px;
    left: 15px;
    color: #303030;
    font-family: SF Pro Display;
    font-size: 25px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.96px;
}

.card6 img {
    position: absolute;
    top: -75px;
    left: 27px;
    width: 190px;
    height: 200px;
    flex-shrink: 0;
}

.card7 {
    position: absolute;
    top: 400px;
    left: 740px;
    width: 250px;
    height: 180px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFFAFA;
    box-shadow: 3px 4px 14.9px 0px rgba(0, 0, 0, 0.25);
}

.card7 p {
    position: absolute;
    top: 20px;
    left: 10px;
    color: #5B5B5B;
    font-family: SF Pro Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.6px;
}

.card7 h2 {
    position: absolute;
    top: 130px;
    left: 14px;
    color: #303030;
    font-family: SF Pro Display;
    font-size: 27px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.96px;
}

.card7 img {
    position: absolute;
    top: -75px;
    left: 23px;
    width: 200px;
    height: 200px;
    flex-shrink: 0;
}


.card8 {
    position: absolute;
    top: 400px;
    left: 1030px;
    width: 250px;
    margin-right: 10px;
    height: 180px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFFAFA;
    box-shadow: 3px 4px 14.9px 0px rgba(0, 0, 0, 0.25);
}

.card8 h2 {
    position: absolute;
    top: 100px;
    left: 40px;
    color: #303030;
    font-family: SF Pro Display;
    font-size: 26px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.96px;
    text-align: center
}

.card8 p {
    position: absolute;
    top: 20px;
    left: 10px;
    color: #5B5B5B;
    font-family: SF Pro Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.6px;
}

.card8 img {
    position: absolute;
    top: -87px;
    left: 31px;
    width: 180px;
    height: 180px;
    flex-shrink: 0;
}

.card9 {
    position: absolute;
    top: 670px;
    left: 165px;
    width: 250px;
    height: 180px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFFAFA;
    box-shadow: 3px 4px 14.9px 0px rgba(0, 0, 0, 0.25);
}

.card9 p {
    position: absolute;
    top: 90px;
    left: 10px;
    color: #5B5B5B;
    font-family: SF Pro Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.6px;
}

.card9 h2 {
    position: absolute;
    top: 130px;
    left: 35px;
    color: #303030;
    font-family: SF Pro Display;
    font-size: 25px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.96px;
}

.card9 img {
    position: absolute;
    top: -75px;
    left: 24px;
    width: 200px;
    height: 200px;
    flex-shrink: 0;
}

.card10 {
    position: absolute;
    top: 670px;
    left: 450px;
    width: 250px;
    height: 180px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFFAFA;
    box-shadow: 3px 4px 14.9px 0px rgba(0, 0, 0, 0.25);
}

.card10 p {
    position: absolute;
    top: 20px;
    left: 10px;
    color: #5B5B5B;
    font-family: SF Pro Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.6px;
}

.card10 h2 {
    position: absolute;
    top: 130px;
    left: 15px;
    color: #303030;
    font-family: SF Pro Display;
    font-size: 25px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.96px;
}

.card10 img {
    position: absolute;
    top: -95px;
    left: 15px;
    width: 230px;
    height: 220px;
    flex-shrink: 0;
}

a:visited {
    color: white;
}

